<?xml version="1.0" encoding="UTF-8" ?> 
<widget xmlns = "http://www.w3.org/ns/widgets"
 xmlns:gap = "http://phonegap.com/ns/1.0"
 id = "com.thech0osen1.rps"
 versionCode = "10"
 version = "1.0.0" > 

<!-- versionCode is optional and Android only -->
 <name>RPS</name>
 <description> 
An rock paper scissors AI 
</description> 
<author href="https://bit.ly/thech0osen1" email=""> 
TheCh0osen1
 </author>

<icon src="icon.png" /> 

</widget>